<form [formGroup]="landingFormGroup">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Star Wars Portal</mat-card-title>
      <mat-card-subtitle>An immersive experience.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h4>Hello there, what is your name?</h4>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Please enter your name" formControlName="name" required>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <h4>You will be transported to the Star Wars universe by the portal. Proceed when you are ready.</h4>
      <button mat-raised-button color="primary" (click)="proceed()">Proceed</button>
    </mat-card-actions>
  </mat-card>
</form>