<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div id="vidtop-content">
  <div class="vid-info">
    <form [formGroup]="landingFormGroup">
      <mat-form-field class="input-custom">
        <input matInput placeholder="Hello, what is your name?" formControlName="name" autocomplete="off" required>
      </mat-form-field>
      <h4>You will be transported to the Star Wars universe by the portal. <br> Proceed when you are ready.</h4>
      <button mat-raised-button class="custom-button" (click)="proceed()">Proceed</button>
    </form>
  </div>
</div>