.example-viewport {
  height: 620px;
  width: 300px;
  border: 1px solid black;
}
  
.example-item {
  height: 50px;
  padding-left: 15px;
}

.example-item:last-child {
  padding-bottom: 30px;
}

.bold {
  font-weight: bold;
}