 <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar style="background-color: #673ab7;">
      <img src="https://cdn.iconscout.com/icon/free/png-256/starwars-225970.png" style="width: 100px;" alt="Star Wars">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='people'>People</a>
      <a mat-list-item href="#">Species</a>
      <a mat-list-item href="#">Planets</a>
      <a mat-list-item href="#">Starships</a>
      <a mat-list-item href="#">Vehicles</a>
      <a mat-list-item href="#">Films</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Star Wars</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

