<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/adzYW5DZoWs?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=adzYW5DZoWs" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div id="vidtop-content">
  <div class="vid-info">
    <img src="./assets/yoda.jpg" alt="Yoda" id="yoda">
    <h4 style="display: inline-block;">
      Welcome to the Star Wars universe. <br> You can find all kinds of information by using the side menu.
    </h4>
  </div>
</div>
